.blog-post-card {
  margin-bottom: 1em;
  border-radius: .5em;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  background-color: white;
}
.blog-post-card__image {
  display: block;
  max-width: 100%;
  width: 100%;
}
.blog-post-card__content {
  padding: 1em;
}

.blog-post-card__footer {
  border-top: 1px solid #efefef;
  padding: 1em;
  font-size: 14px;
  text-align: center;
}
