<article class="blog-post-card">
  <img class="blog-post-card__image" [src]="'https://source.unsplash.com/800x600/?computers,people,nature,water&seed=22'" [alt]="">
  <header class="blog-post-card__header">
    <h4 class="card-header__title">{{ blogPost.title }}</h4>
  </header>
  <main class="blog-post-card__content">
    <p>{{ blogPost.body }}</p>
  </main>
  <footer class="blog-post-card__footer">
    <a [routerLink]="'/blog/'+blogPost.id">Read more</a>
  </footer>
</article>
