/* You can add global styles to this file, and also import other style files */
html, body {
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

* {
  box-sizing: border-box;
}
